.navbar {
  position: fixed; /* Set the navbar to fixed position */
  bottom: 0; /* Position the navbar at the bottom of the page */
  width: 100%; /* Full width */
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
#container {
  /*保证footer是相对于container位置绝对定位*/
  position: relative;
  width: 100%;
  min-height: 100%;
  /*设置padding-bottom值大于等于footer的height值，以保证main的内容能够全部显示出来而不被footer遮盖；*/
  padding-bottom: 100px;
  box-sizing: border-box;
}
footer {
  width: 100%;
  height: 100px; /* footer的高度一定要是固定值*/
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: #56445D;
}
.nav-link {
  color: #ffffff;
  padding: 2em 2em 2em 2em;
}
section#header {
  background-color: #56445D;
  color: #ffffff;
  padding: 2em 2em 5em 2em;
}
.bottomtext {
  font-weight: bolder;
}
.bottomText {
  color: #ffffff;
}