/*navbar 的 css*/
*{
    font-family: Microsoft JhengHei;
  }
.navbar-nav .nav-link {
    color: black !important;
    font-size: 1.2em;
    font-weight: bolder;
  }
  
#topImage {
    width: 100%;
    height: 25em;
  }

#account{
    width: 3em;
    border-radius: 50%;
  }
  
.topNavbar:active {
    text-decoration: underline;
    background-color: gray;
    color: #fafafa;
  }
  
  
  /*Title 的 css*/
  
#Title {
    position: relative;
    margin-top: 3em;
  }
  
  /*card1 的 css*/
  

  
.index {
    margin: 0 auto;
    line-height: 50px;
  }
  
#profile {
    color: darkcyan;
  }
  
#change,#order {
    color: black;
  }
.card {
    position: fixed;
    margin-top: 2em;
    margin-left: 9em;
    padding: 20px;
    width: 15%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
#card1 {
    height: 13em;
  }
  
  
  /*card2 的 css*/
#card2 {
    position: relative;
    width: 100%;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
#card_title {
    padding-top: 1em;
    font-size: 1.5em; 
    font-weight:500;
}
.input_div {
    margin-top: 0.5em;
    margin-bottom: 5em;
}
.input{
    margin-top: 1em;
}
input {
    border:1px; 
    width: 40%;
    border-bottom-style: solid;
    border-top-style: none;
    border-left-style:none;
    border-right-style:none;
}
.button {
    font-size: 1em !important;
    border-radius: 10px;
    background-color: rgb(39, 88, 92);
    border: none;
    color: white;
    padding: 0.6em 1.5em;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-left: 1em;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.10);
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.10);
  }
  .buttom_location{
    text-align: center;
    margin-top: 3em;
    padding-bottom: 5em;
}

/*buttombar 的 css*/
footer {
    width: 100%;
    height: 100px;
    /* footer的高度一定要是固定值*/
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: #56445D;
}

#container {
    position: relative;
    width: 100%;
    min-height: 100%;
    padding-bottom: 100px;
    box-sizing: border-box;
}

section#header {
    background-color: #56445D;
    color: #ffffff;
    padding: 2em 2em 5em 2em;
}

.bottomtext {
    font-family: Microsoft JhengHei;
    font-weight: bolder;
}

.bottomText {
    color: #ffffff !important;
    font-family: Microsoft JhengHei;
}
